<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>Ana Sayfa</p>
    <div>
        <div>
            <a th:href="@{/location/list}">Bölge Listesine Git</a>
        </div>
        <div>
            <a th:href="@{/category/list}">Katagori Listesine Git</a>
        </div>
    </div></br>

    <div>
        <form enctype="multipart/form-data" method="post" th:action="@{/upload}">
            <input th:name="file" type="file">
            <input type="submit" value="import">
        </form>
    </div>
</div>
</body>
</html>