<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a th:href="@{/category/list}">Katagori Listesine Git</a><br>
    <a th:href="@{/}">Ana Sayfaya Git</a><br>
    <h1>Bölge Listesi</h1>
    <table border="1">
        <thead>
        <tr>
            <th>İd</th>
            <th>Şehir</th>
            <th>İlçe</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="location : ${locations}">
            <td th:text="${location.id}"></td>
            <td th:text="${location.city}"></td>
            <td th:text="${location.district}"></td>
            <td>
                <a th:href="@{/location/edit/{id} (id=${location.id})}">Düzenle</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>